<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <script src="js/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <nav>
    <a href="/login">Login</a>
  </nav>
  <body>
    <h1>Register</h1>
    <form action="/register" method="POST">
      <label for="regusername">Enter a username:</label>
      <input type="text" id="regusername">
      <br>
      <label for="regpassword">Enter a password:</label>
      <input type="text" id="regpassword">
      <br>
      <input type="submit" id="forregister" value="Register">
    </form>
  </body>
</html>
